<div fbth-aurelia-enhance="true">
    <h2>About.</h2>
    <h3>@ViewData["Message"]</h3>

    <fbau-well text="This is a well with a link to cnn.com"></fbau-well>

    <p>Use this area to provide additional information.</p>
    <p innerhtml.bind="'If you want news, check out cnn.com!' | linkify"></p>
</div>